[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
flake8 = "*"
gunicorn = "*"
django-s3-folder-storage = "*"
collectfast = "*"
dj-database-url = "*"
pytest-django = "*"
python-decouple = "*"

[dev-packages]
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.9"
